<h1>Welcome to the Gal Pals Podcast Game</h1>
<p>Placeholder First Paragraph</p>
<p>Placeholder Second Paragraph</p>
<a href="/rules">View Instructions</a>
<form action="/newgame" method="post">
  <button type="submit">New Game</button>
</form>